---
/* eslint-disable react/jsx-key */
import { Icon } from "astro-icon/components";
import { NAV_LINKS, SOCIAL_LINKS } from "@/config/site.mjs";
---

<footer
	id="contact"
	class="w-full py-2 px-4 border-t border-gray-200 bg-white"
	role="contentinfo"
>
	<div class="max-w-7xl mx-auto">
		<div class="grid md:grid-cols-3 gap-2 mb-2 mt-8">
			<div>
				<h2
					class="font-display text-xl md:text-2xl font-semibold text-gray-900 mb-2"
				>
					Milk Krate
				</h2>
				<p class="text-lg text-gray-600">
					Made by people who believe that the best interactions are felt, not
					just seen. Refined in Singapore with intent.
				</p>
			</div>
			<div>
				<h2
					class="font-display text-xl md:text-2xl font-semibold text-gray-900 mb-2"
				>
					Links
				</h2>
				<ul class="space-y-1">
					{
						NAV_LINKS.map((link) => (
							<li>
								<a
									href={link.href}
									class="text-gray-600 hover:text-gray-900 transition-colors"
								>
									{link.label}
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div>
				<h2
					class="font-display text-xl md:text-2xl font-semibold text-gray-900 mb-2"
				>
					Connect
				</h2>
				<ul class="space-y-1">
					{
						SOCIAL_LINKS.map((link) => (
							<li>
								<a
									href={link.href}
									class="flex items-center gap-2 text-gray-600 hover:text-gray-900 transition-colors"
									target={link.href.startsWith("http") ? "_blank" : undefined}
									rel={
										link.href.startsWith("http")
											? "noopener noreferrer"
											: undefined
									}
									aria-label={
										link.href.startsWith("http")
											? `Follow us on ${link.label} (opens in new tab)`
											: undefined
									}
								>
									{/* <Icon name={link.icon} class="w-5 h-5" aria-hidden="true" /> */}
									<span>{link.label}</span>
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
		<div class="pt-2 text-center text-gray-600">
			<p>&copy; {new Date().getFullYear()} Milk Krate. All rights reserved.</p>
		</div>
	</div>
</footer>
